html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

main{
    text-align: center;
    background-color: bisque;
}

header {
    padding: 20px;
}
.Current_Score_Container{
    padding: 100px;
    background-color: rgb(109, 109, 109);
}
.Current_Score_Counters {
    display: flex;
    justify-content: center;
}
.Score_IMG {
    width: 150px;
}

#Save_Total_Score_BTN{

background-color: rgb(28, 123, 123);
border-radius: 5px;
padding: 20px;
border: 2px solid black;
font-size: 20px;
}

#Reset_Total_Score_BTN{

background-color: rgb(255, 0, 0);
border-radius: 5px;
padding: 20px;
border: 2px solid black;
font-size: 20px;

}



#Roll_BTN{
background-color: rgb(54, 227, 6);
border-radius: 5px;
padding: 20px;
border: 2px solid black;
font-size: 20px;
}

#Add_Roll_BTN{
background-color: rgb(54, 227, 6);
border-radius: 5px;
padding: 20px;
border: 2px solid black;
font-size: 20px;
}